<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="">
    <style>
        body { margin: 0px; }
    </style>
</head>
<body>
</body>
</html>
